<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <!--link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="images/favicon.ico"/-->
    <link href="/static/blog/bootstrap.min.css" rel="stylesheet">
    <title>First blog</title>
</head>

<body>
    <div class="container">
        <h1>First blog</h1>
        <hr/>
        {% for post in posts %}
            <div class="post">
            <h2>{{ post.title }}</h2>
            <h3>Posted on {{ post.timestamp }} by {{ post.author }}</h3>
            <p>{{ post.bodytext }}</p>
            </div>
            <hr/>
        {% endfor %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>