<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" href="/static/icon.ico"/>
    <link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <title>First blog</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">djangoblog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <form action="/add/workspace/" method="post">
                                {% csrf_token %}
                                <input type="text" name="workspace_name"/>
                                <input type="submit" value="Add new workspace"/>
                                {% for user in users %}
                                    <input type="hidden" name="username" value="{{ user.username }}"/>
                                {% endfor %}
                            </form>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Workspaces</li>
                        {% for user in users %}
                            {% for workspace in user.workspace_set.all %}
                                <li><a href="#">{{ workspace.workspace }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <form action="/input/" method="post">
        {% csrf_token %}
        <label>Directory to workspace: </label><br/>
        <input type="text" name="input_text" value="{{current_workspace}}"/>
        <input type="submit" value="Refresh workspace"/>
    </form>
</div>
<br/>

<div class="container">
    <hr/>
    {% for user in users %}
    <div class="user">
        <h2>{{ user.username }}</h2>
        {% for workspace in user.workspace_set.all %}
        <div class="workspace">
            <h3>{{ workspace.workspace }}</h3>
            {% for directory in workspace.directory_set.all %}
            <div class="directory">
                <h4>{{ directory.git_shortname }}</h4>
                {% for branch in directory.branch_set.all %}
                <div class="branch">
                    <h5>{{ branch.git_branch }}</h5>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <hr/>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>